@import "/components/navigation/navigation.css";
@import "/components/homepage/homepage.css";
@import "/components/about-me/about-me.css";
@import "/components/experience/experience.css";
@import "/components/projects/projects.css";
@import "/components/contact/contact.css";

@media (min-width: 601px) and (max-width: 800px) and (max-height: 1040px){
  /* NAVIGATION BAR ----------------------------------------------------------------------------------------*/
  #desktop-nav {
    display: none;
  }

  .phone-nav-button {
    font-size: 8vh; 
  }

  /*SECTION SET UP -----------------------------------------------------------------------------------------*/
  .section-content {
    padding-top: 1px;
  }

  /*HOMEPAGE -----------------------------------------------------------------------------------------------*/
  #homepage-content {
    grid-template-columns: repeat(7, minmax(100px, 300px));
    grid-template-rows: repeat(4, 25vh);
  }

  /* Homepage Image ++++++++++++++++++++++++++++++++*/
  #homepage-cartoon {
    grid-row: 2 /4;
    grid-column: 2/ 4;
  }

  /* Homepage Text ++++++++++++++++++++++++++++++++*/
  #homepage-intro-text {
    grid-row: 2 / 4 ;
    grid-column: 4 / 7;
    width: 50vw;
  }

  #homepage-top-line, #homepage-bottom-line {
    font-size: 2vw;
  }

  #homepage-btns > button {
    font-size: 1.7vw;
  }
}