@import "/components/navigation/navigation.css";
@import "/components/homepage/homepage.css";
@import "/components/about-me/about-me.css";
@import "/components/experience/experience.css";
@import "/components/projects/projects.css";
@import "/components/contact/contact.css";

@media (min-width: 800px) and (max-width: 1024px) and (min-height: 740px) {
 
  #section-homepage{
    background-color: red;
  }


  /* NAVIGATION BAR ----------------------------------------------------------------------------------------*/
  #phone-nav {
    display: none;
  }

  #nav-links {
    gap: 30px
  }

  .nav-button {
    font-size: 2vw;
  }

  #logo > img {
    height: 60px;
  }

  @keyframes bigNav {
    0% {
      margin-left: 0px;
      opacity: 0;
    }
    100% {
      height: 60px;
      margin-left: 26vw;
      opacity: 1;
    }
  }

  @keyframes reverseNav {
    0% {
      margin-left: 26vw;
      opacity: 1;
      height: 60px;
    }

    100% {
      margin-left: 0px;
      opacity: 0;
      height: 0px;
      display: none;
    }
  }

  /*HOMEPAGE -----------------------------------------------------------------------------------------------*/
  #homepage-content {
    grid-template-columns: repeat(7, minmax(100px, 300px));
  }

  /* Homepage Image ++++++++++++++++++++++++++++++++*/
  #homepage-cartoon {
    grid-column: 2/ 4;
  }

  /* Homepage Text ++++++++++++++++++++++++++++++++*/
  #homepage-intro-text {
    grid-row: 6 / 9 ;
    grid-column: 4 / 7;
  }

  /*ABOUT ME -----------------------------------------------------------------------------------------------*/
  #about-me-content {
    grid-template-columns: repeat(7, 14.3vw);
    grid-template-rows: repeat(5, 19vh);
  }
  
  #am-text-div {
    grid-row: 2 / 4 ;
    grid-column: 2 / 5;
    width:60vw;
  }

  #am-tech-stack {
    gap:10px;
  }

  .am-tech-icons {
    height: 4vh;
    margin: 0 10px;
  }
}