@import "/components/navigation/navigation.css";
@import "/components/homepage/homepage.css";
@import "/components/about-me/about-me.css";
@import "/components/experience/experience.css";
@import "/components/projects/projects.css";
@import "/components/contact/contact.css";

@media (min-width: 601px) and (max-width: 800px) and (min-height: 1040px){
  /* NAVIGATION BAR ----------------------------------------------------------------------------------------*/

  #phone-nav {
    display: none;
  }

  [initial-load="true"] #logo {
    display: none;
  }

  #nav-links {
    gap: 30px;
  }

  .nav-button {
    font-size: 2vw;
  }

  #logo > img {
    height: 60px;
  }

  @keyframes bigNav {
    0% {
      margin-left: 0px;
      opacity: 0;
    }
    100% {
      height: 60px;
      margin-left: 26vw;
      opacity: 1;
    }
  }

  @keyframes reverseNav {
    0% {
      margin-left: 26vw;
      opacity: 1;
      height: 60px;
    }

    100% {
      margin-left: 0px;
      opacity: 0;
      height: 0px;
      display: none;
    }
  }

  /*HOMEPAGE -----------------------------------------------------------------------------------------------*/
  #homepage-content {
    grid-template-columns: repeat(7, 14.3vw);
  }

    #homepage-cartoon {
      grid-row: 3 / 7;
      grid-column: 3/ 6;
      height: 40vw;
      width: 40vw;
    }

    #cartoon-me {
      top:3%;
      left: 6%;
      height:38vw;
    }

    #blob {
      height:39vw;
    }

    /* ***************** Stars ***************** */
    .hp-icon-set-1 {
      height: 3vw;
    }
    .hp-icon-set-2 {
      height: 2vw;
    }

    #star1{
      top:8vw;
      left:-1vw;
    }

    #star2{
      bottom:15vw;
      left:1vw;
    }

    #star3{
      top:3vw;
      right:2vw;
    }

    #star4{
      top:0vw;
      right:10vw;
    }

    #star5{
      bottom:6vw;
      right:0vw;
    }

    #star6{
      top:10vw;
      right:4vw;
    }

    /* Contact Icons +++++++++++++++++++++++++++++ */

    .click-icons {
      height:7vw;
    }


    .click-icons:hover {
      height:8vw;
    }

    #hp-linkedin {
      top:0vh;
      border-radius: 1.2vw;
    }

    #hp-github {
      border-radius: 8vw;
    }

    #hp-email {
      left:-3vw;
      border-radius: 01vw;
    }



    @keyframes linkedinFloat {
      0% {
        transform: translateY(0px) rotate(-20deg);
      }

      100% {
        transform: translateY(10px) rotate(-20deg);
      }
    }

    @keyframes githubFloat {
      0% {
        transform: translateY(0px) rotate(10deg);
      }

      100% {
        transform: translateY(10px) rotate(10deg);
      }
    }

    @keyframes emailFloat {
      0% {
        transform: translateY(0px) rotate(30deg);
      }

      100% {
        transform: translateY(10px) rotate(30deg);
      }
    }


  /* Homepage Text ++++++++++++++++++++++++++++++++*/
  #homepage-intro-text {
    grid-row: 8 / 10 ;
    grid-column: 2 / 7;
    align-items: center;
    line-height: 6vw;
  }

  #homepage-top-line, #homepage-bottom-line {
    font-size: 3vw;
  }

  #homepage-mid-line {
    height: 10vw;
  }

  #homepage-mid-line > img {
    height: 10vw;
  }

  #homepage-btns > button {
    margin: 10px 5px;
    font-size: 3vw;
  }
}