@import "/styles/components/navigation.css";
@import "/styles/components/homepage.css";
@import "/styles/components/about-me.css";
@import "/styles/components/experience.css";
@import "/styles/components/projects.css";
@import "/styles/components/contact.css";

@media (min-width: 800px) and (max-width: 1024px) and (min-height: 740px) {
/* NAVIGATION BAR ----------------------------------------------------------------------------------------*/
  #phone-nav {
    display: none;
  }

  #nav-links {
    gap: 30px
  }

  .nav-button {
    font-size: 2vw;
  }

  #logo > img {
    height: 60px;
  }

  @keyframes bigNav {
    0% {
      margin-left: 0px;
      opacity: 0;
    }
    100% {
      height: 60px;
      margin-left: 26vw;
      opacity: 1;
    }
  }

  @keyframes reverseNav {
    0% {
      margin-left: 26vw;
      opacity: 1;
      height: 60px;
    }

    100% {
      margin-left: 0px;
      opacity: 0;
      height: 0px;
      display: none;
    }
  }

  /*HOMEPAGE -----------------------------------------------------------------------------------------------*/
  #homepage-content {
    grid-template-columns: repeat(7, minmax(100px, 300px));
  }

  /* Homepage Image ++++++++++++++++++++++++++++++++*/
  #homepage-cartoon {
    grid-column: 2/ 4;
  }

  /* Homepage Text ++++++++++++++++++++++++++++++++*/
  #homepage-intro-text {
    grid-row: 6 / 9 ;
    grid-column: 4 / 7;
  }
}