footer {
    left:0;
    right:0;
    background-color: var(--black);
    height: 130px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px;
    border-top: solid 1px var(--dark-grey);
}

footer a {
    text-decoration: none;
    cursor: var(--cursor);
    margin: 0 5px;
}

footer p {
    font-family: var(--base-font);
    font-size: var(--base-text-size);
    line-height: 5px;
    color: var(--dark-grey);
    font-weight: var(--regular-weight);
}

@media screen and (max-width: 800px) {

    footer {
        justify-content: center;
    }
    footer p {
        width: 250px;
        font-size: var(--medium-text-size);
    }
    footer a {
        display: none;
    }
    
}