#home-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: calc(100vh - 115px);
    padding-top: 115px;
    font-family: var(--accent-font);
}

#home-logo {
    height: 300px;
    width: 300px;
    margin-top: 115px;
}

#home-title {
    color: var(--white);
    font-weight: var(--regular-weight);
    font-size: var(--heading1-size);
    margin: 10px 0 -20px 0;
}

#home-title span {
    color: var(--pink);
}

#home-socials {
    display: flex;
    flex-direction: row;
    gap: 12px;
}

#home-socials a {
    cursor: var(--cursor);
}

#home-subtitle {
    color: var(--light-grey);
    font-weight: var(--regular-weight);
    font-size: var(--heading2-size);
    width: 720px;
}

#home-socials {
    display: flex;
    flex-direction: row;
}

#home-socials .social-icon {
    margin-top: 10px;
}

@media screen and (max-width: 1080px) {
    #home-title{
        font-size: var(--medium-size);
        margin-bottom: -13px;
    }

    #home-subtitle {
        width: 400px;
        font-size: var(--medium-text-size);
    }

    #home-socials {
        margin-top: 10px;
    }
}

@media screen and (max-width: 800px) {

    #home-section {
        padding-top: 0;
        height: 100vh;
        justify-content: center;
    }
    #home-logo {
        height: 280px;
        width: 280px;
        margin-top: 0;
    }

    #home-title{
        font-size: var(--heading2-size);
        margin-bottom: -5px;
    }

    #home-subtitle {
        width: 300px;
        font-size: var(--small-text-size);
    }

    #home-socials {
        margin-top: 10px;
    }
    
}