#projects-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 100px;
}

#project-card-container {
    display: grid;
    grid-template-columns: 570px 570px;
    gap: 45px 70px;
}
    
#project-card-container a{
    cursor: var(--cursor);
}

.project-card-link {
    text-decoration: none;
    color: inherit;
    display: flex;
    height: 100%;
}

.project-card {
    display: flex;
    flex-direction: row;
    border: solid 2px var(--dark-grey);
    border-radius: 40px;
    height: 100%;
    justify-content: center;
    transition: 0.3s ease all;
    padding: 30px 0;
    box-sizing: border-box;
    width: 100%;
    cursor:var(--cursor-click);
}

.project-card:hover {
    background-color: var(--dark-grey);
    .link-arrow {
        opacity: 1;
    }
}

.project-card-image {
    width: 225px;
    height: 225px;
    object-fit: cover;
    object-position: top;
    display: block;
    border-radius: 20px;
}

.project-card-content{
    width: 260px;
    margin-left: 24px;
}

.project-title {
    color: var(--pink);
    font-family: var(--accent-font);
    font-size: var(--heading2-size);
    font-weight: var(--regular-weight);
    margin-bottom: 5px;
}


.project-description {
    color: var(--light-grey);
    font-family: var(--base-font);
    font-size: var(--small-text-size);
    font-weight: var(--regular-weight);
    margin-bottom: 20px;
}

.project-skills {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
}

.project-skills .skill {
    font-size: var(--tiny-text-size);
}

@media screen and (max-width: 1300px) {
    #project-card-container {
        grid-template-columns: 570px;
        gap: 30px 0;
    }
}

@media screen and (max-width: 800px) {
    #project-card-container {
        grid-template-columns: 1fr;
        gap: 30px 0;
    }
    .project-card {
        flex-direction: column;
        width: 300px;
    }
    .project-card-image {
        width: 200px;
        height: 200px;
        align-self: center;
        margin-bottom: 30px;
    }

    .project-title{
        font-size: var(--medium-text-size);
    }

    .project-description {
        font-size: var(--small-text-size);
    }

    .project-skills .skill {
    font-size: var(--phone-small-size);
    }
}