@import '/styles/base/variables.css';

/* :root {

    --accent-colour1:#ffa1b0;
    --accent-colour2: #ef778f;
    --text-colour: #b53a72;
    --text-colour-low-opacity: #b53a7189;
    --font-family: 'Courier New', Courier, monospace;
    --font-family2: monospace;


    --homepage-background-colour: #ffe4e4ff;
    --homepage-grid-colour: #fff2f2;

  } */

body {
    margin: 0;
    color: var(--text-colour);
    font-family: var(--font-family);
}

button {
    cursor: pointer;
    background: none;
    border: none;
    font-weight: bold;
    font-family: var(--font-family);
}

/* SECTIONS ------------------------------------------------------------------------------------------------- */
#section-about-me,
#section-experience,
#section-projects,
#section-contact {
  height: 100vh;
  padding-top: 100px;
}