@import '/styles/base/variables.css';

/* --homepage-background-colour: #ffe4e4ff;
--homepage-grid-colour: #fff2f2;
--accent-colour1:#ffa1b0;
--accent-colour2: #ef778f;
--text-colour: #b53a72;
--font-family: 'Courier New', Courier, monospace; */

#section-homepage{
  background-color: var(--homepage-background-colour);

  background-image:
        linear-gradient(90deg, var(--homepage-grid-colour) 1px, transparent 1px), /* Vertical lines */
        linear-gradient(0deg, var(--homepage-grid-colour) 1px, transparent 1px); /* Horizontal lines */
    background-size: 50px 50px; /* Size of the grid cells */
}

#homepage-content {
  display: grid;
  grid-template-columns: repeat(11, minmax(100px, 300px));
  grid-template-rows: repeat(15, 6vh);
}

/*-----------------------------------------IMAGES-----------------------------------------*/
#homepage-cartoon {
  grid-row: 4 /11;
  grid-column: 2/ 6;
  align-self: center;
  justify-self: center;
  position: relative;
}

#cartoon-me {
  position: absolute;
  left:1vw;
  height:25vw;
  animation: cartoonFloat 5s infinite alternate ease-in-out;
  z-index: 1;
}

#blob {
  z-index: -1;
  height:25vw;
}

@keyframes cartoonFloat {
  0% {
    transform: translateY(5px)
  }

  100% {
    transform: translateY(-5px);
  }
}

/*-----------------------------------------STARS-----------------------------------------*/
.hp-misc-icons{
  position: absolute;
  z-index: 1;
  animation: iconFloat 4s infinite alternate ease-in-out;
}

.hp-icon-set-1 {
  height: 2vw;
}
.hp-icon-set-2 {
  height: 1vw;
}

#star1{
  top:8vw;
  left:0vw;
  animation-duration: 3s;
}

#star2{
  bottom:8vw;
  left:1vw;
  animation-duration: 4s;
}

#star3{
  top:3vw;
  right:2vw;
  animation-duration: 5s;
}

#star4{
  top:0vw;
  right:10vw;
  animation-duration: 3s;
}

#star5{
  bottom:6vw;
  right:0vw;
  animation-duration: 4s;
}

#star6{
  top:10vw;
  right:4vw;
  animation-duration: 5s;
}


@keyframes iconFloat {
  0% {
    transform: translateY(0px)
  }

  100% {
    transform: translateY(5px);
  }
}

/*-----------------------------------------CONTACT ICONS-----------------------------------------*/
.click-icons {
  position: absolute;
  z-index: 2;
  height:4vw;
  box-shadow: 0px 0px 10px 1px var(--text-colour);

  transition: height 0.1s ease;
}

.click-icons:hover {
  height:4.2vw;
}

#hp-linkedin {
  top:1vh;
  left:2vw;
  border-radius: 0.6vw;
  animation: linkedinFloat 4s infinite alternate ease-in-out;
}

#hp-github {
  top: 12vw;
  right:1vw;
  border-radius: 3vw;
  animation: githubFloat 2s infinite alternate ease-in-out;
}

#hp-email {
  bottom: 30px;
  left:0px;
  border-radius: 0.6vw;
  animation: emailFloat 6s infinite alternate ease-in-out;
}


@keyframes linkedinFloat {
  0% {
    transform: translateY(0px) rotate(-20deg);
  }

  100% {
    transform: translateY(15px) rotate(-20deg);
  }
}

@keyframes githubFloat {
  0% {
    transform: translateY(0px) rotate(10deg);
  }

  100% {
    transform: translateY(15px) rotate(10deg);
  }
}

@keyframes emailFloat {
  0% {
    transform: translateY(0px) rotate(30deg);
  }

  100% {
    transform: translateY(15px) rotate(30deg);
  }
}


/*-----------------------------------------TEXT-----------------------------------------*/
#homepage-intro-text {
  grid-row: 5 / 9 ;
  grid-column: 6 / 11;
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 3.5vw;
}

#homepage-top-line, #homepage-bottom-line {
  font-size: 1.6vw;
  font-weight: bold;
  color:var(--text-colour);
}

#homepage-mid-line {
  height: 5.2vw;
  animation: titleFloat 1s infinite alternate ease-out;
}

#homepage-mid-line > img {
  height: 5vw;
}


@keyframes titleFloat {
  0% {
    transform: translateY(0px)
  }
  100% {
    transform: translateY(-8px)
  }
}

#homepage-bottom-line {
  line-height: 3vw;
}

#homepage-btns {
  grid-row: 9 / 10;
  grid-column: 6 / 8;
  display: inline;
}

#homepage-btns > button {
  color:var(--text-colour);
  background-color: var(--accent-colour1);
  padding: 0.5vw 3vw;
  border: 4px solid var(--text-colour);
  border-radius: 0.8vw;
  box-shadow: 0px 7px 0px var(--text-colour);
  margin: 0px 5px;

  font-family: 'Courier New', Courier, monospace;
  text-wrap: nowrap;
  font-size: 1.2vw;
  font-weight: bold;

  transition: all 0.2s ease;
}

#homepage-btns > button:hover {
  background-color:var(--accent-colour2);
}

#homepage-btns > button:active {
  transform: translateY(8px);
  box-shadow: 0px 0px 0px var(--text-colour);
}