/* navbar styling */
#nav-container{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
}
.nav-links{
    font-family: var(--accent-font);
    transition: 0.3s ease all;
}

.nav-links:hover,
.nav-links.active{
    color: var(--white);
}

.nav-links, #logo{
    cursor: pointer;
}

#main-nav{
    display: flex;
    flex-direction: row;
    background-color: var(--translucent-black);
    padding: 1rem 2rem;
    align-items: center;

    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px); /* Safari support */

    gap: 40vw;
    justify-content: center;
    z-index: 1000;

}

#logo {
    display: inline;
    height: 80px;
}

#nav-links-container{
    display: flex;
    flex-direction: row;
    gap: 2rem;

    color: var(--pink);
}

@media screen and (max-width: 1300px) {
    #main-nav{
        justify-content: space-between;   
        gap: 0;
    }
}

@media screen and (max-width: 800px) {
    #main-nav{
        display: none;
    }    
}