@import "/styles/variables.css";

.skill {
    color: var(--black);
    font-family: var(--accent-font);
    font-weight: var(--thick-weight);
    background-color: var(--pink);
    padding: 5px 15px;
    border-radius: 20px;
}

@media screen and (min-width: 800px) {
    .skill {
        padding: 3px 10px;
    }    
}