@import '/styles/base/variables.css';

/* --homepage-background-colour: #ffe4e4ff;
--homepage-grid-colour: #fff2f2;
--accent-colour1:#ffa1b0;
--accent-colour2: #ef778f;
--text-colour: #b53a72;
--font-family: 'Courier New', Courier, monospace; */

body {
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
  color: var(--text-colour);
} 

button {
  cursor: pointer;
  background: none;
  border: none;
  font-weight: bold;
  font-family: 'Courier New', Courier, monospace;
}

/* -------------------------------------TEMPORARY LINKS------------------------------------------ */
.temp-links{
  margin:10px 10px;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  color: var(--text-colour);
  padding:10px;
  border: 5px solid var(--text-colour);
  border-radius: 20px;
  display:inline-block;
  background-color: var(--accent-colour1);
  box-shadow: 5px 10px 0px 0px var(--text-colour);

  transition: all 0.2s ease;
}

.temp-links:hover{
  background-color: var(--accent-colour2);
}

.temp-links:active{
  transform: translateY(11px) translateX(6px);
  box-shadow: 0px 0px 0px 0px var(--text-colour);
}

/* -------------------------------------ACCESSABILITY------------------------------------------ */
.sr-visible {
  position: absolute;
  width: 0px;
  height: 0px;
  margin: 0px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
/* -------------------------------------SIZING------------------------------------------ */

.container {
  height: 100vh;
  overflow-y: hidden;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

section {
  height: 100vh;
  scroll-snap-align: start;
}

.section-content {
  padding-top: 100px;
}