@import '/styles/base/variables.css';
@import "/styles/base/base-styling.css";

/* --homepage-background-colour: #ffe4e4ff;
--homepage-grid-colour: #fff2f2;
--accent-colour1:#ffa1b0;
--accent-colour2: #ef778f;
--text-colour: #b53a72;
--font-family: 'Courier New', Courier, monospace; */

#section-contact {
  background-color: rgb(167, 255, 182);
}