
<div id="homepage-content" class="section-content">

  <div id="homepage-cartoon">
    <img id="cartoon-me" src="images/cartoon-me.png"/>
    <img id="blob" src="images/blob.png" aria-hidden="true"/>
    <a href="https://www.linkedin.com/in/nahdaa-jawed/" target="_blank"><img class="click-icons" id="hp-linkedin" src="images/linkedin.png" aria-hidden="true"/></a>
    <a href="mailto:nahdaajawed@gmail.com" target="_blank"><img class="click-icons" id="hp-email" src="images/email.png" aria-hidden="true"/></a>
    <a href="https://github.com/NahdaaJ" target="_blank"><img class="click-icons" id="hp-github" src="images/github.png" aria-hidden="true"/></a>
    <img src="images/star.png" class="hp-icon-set-1 hp-misc-icons" id="star1"/>
    <img src="images/star.png" class="hp-icon-set-2 hp-misc-icons" id="star2"/>
    <img src="images/star.png" class="hp-icon-set-1 hp-misc-icons" id="star3"/>
    <img src="images/star.png" class="hp-icon-set-2 hp-misc-icons" id="star4"/>
    <img src="images/star.png" class="hp-icon-set-1 hp-misc-icons" id="star5"/>
    <img src="images/star.png" class="hp-icon-set-2 hp-misc-icons" id="star6"/>

  </div>


  <div id="homepage-intro-text" aria-hidden="true">
    <div id="homepage-top-line">Hello! I'm</div>
    <div id="homepage-mid-line"><img src="images/title.png"/></div>
    <div id="homepage-bottom-line">and I'm a software engineer! (✿＾▽＾)
  </div>

  <div id="homepage-btns">
    <button onclick="tempFunction()">Download CV</button>
    <button onclick="scrollToSection('section-about-me')">Start</button>
  </div>

</div>