body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#main-container {
    display: flex;
    width: 1200px;
    height: 90vh;
    background-color: bisque;
}

#title-container {
    background-color: aqua;
    width: 500px;
}

#content-container {
    background-color: rgb(141, 175, 175);
    width: 700px;
    display: flex;
    flex-direction: column;
}

nav {
    background-color: cadetblue;
    height: 70px;
    flex-shrink: 0;
}

main {
    background-color: blanchedalmond;
    flex-grow: 1;
}

#nightmode-container {
    background-color: brown;
    height: 70px;
    flex-shrink: 0;
}