@import 'variables.css';

body[mode="night"]{
        background-image:
        linear-gradient(to right, var(--grid-colour) 1px, transparent 1px),
        linear-gradient(to bottom, var(--grid-colour) 1px, transparent 1px);
    
        /* Optional: Set other background properties */
        background-color: var(--background-colour); /* Light background color */

}

[mode="night"] {
    p {
        color: var(--text-colour-1)
    }

    h1 {
        color: var(--text-colour-1)
    }

    h2 {
        color: var(--text-colour-2)
    }

    ::-webkit-scrollbar-thumb {
        background-color: var(--box-colour);
    }
}

body{
    margin: 0;
    padding: 0;

    font-family: var(--base-font);
    background-size: 100px 100px;
}

::-webkit-scrollbar {
    width: 10px;
  }

::-webkit-scrollbar-thumb {
    border-radius: 6px;
}

h1{
    font-weight: 400;
    font-size: 130px;
    line-height: 20px;
}

h2 {
    font-weight: 400;
    font-size: 30px;
    line-height: 0;
}

.emphasis {
    font-weight: 800;
}

#container {
    display: flex;
    justify-content: center;
    height: 100vh;
    overflow: auto;
    flex-shrink: 0;
}

header {
    width: 500px;
    position: sticky;
    bottom: 0;
    top:0;
    
    flex-shrink: 0;
  }


#contact-links{
    display: flex;
    flex-direction: row;
}

#content {
    width: 700px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
}

.sticky-bars {
    position: sticky;    
    height: 40px;
    width: fit-content;
    padding: 0 30px;
    align-self: center;
    gap: 20px;
    flex-shrink: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--grid-colour);
    border-radius: 30px;
    filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.395));

}

nav.sticky-bars {
    top:50px;
}

div.sticky-bars {
    bottom:50px;
}

nav {
    display: flex;
}

section {
    min-height: calc(100vh - 200px);
    padding: 100px 20px;
}

.content-box{
    height: 100px;
    width: 100px;
    background-color: var(--box-colour);
    border-radius: var(--radius);
}