body {
  height: 2000px;
  margin: 0; /* Reset margin */
  padding: 0; /* Reset padding */
  font-family: 'Courier New', Courier, monospace;
}
nav {
  display: flex;
  position: fixed;
  top:0;
  left:0;
  right: 0;
  height: 100px;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.nav-link {
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  padding: 0px 3%;
  text-wrap: nowrap;
  color: #b53a72;
}

.home-link-off{
  display: none;
}

.home-link-on{
  font-size: 70px;
  font-weight: bold;
  text-decoration: none;
  padding: 0px 3%;
  text-wrap: nowrap;
  color: #f27798;
}

.nav-link:hover {
  color: #ffa1b0ff;
  transition: color 0.5s;
}

.nav-link:not(hover) {
  color: #b53a72;
  transition: color 0.5s;
}



#homepage-content {
  padding-top: 100px;
  display: grid;
  grid-template-columns: repeat(11, minmax(100px, 200px));
  grid-template-rows: repeat(15, 6vh);
  background-color: #ffe4e4ff;

  background-image: 
        linear-gradient(90deg, #fff2f2 1px, transparent 1px), /* Vertical lines */
        linear-gradient(0deg, #fff2f2 1px, transparent 1px); /* Horizontal lines */
    background-size: 50px 50px; /* Size of the grid cells */
}