@media (min-width: 1025px) {
  body {
  margin: 0;
  padding: 0;
  font-family: 'Courier New', Courier, monospace;
} 

.temp-links{
  margin:10px 10px;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  color: #b53a72;
  padding:10px;
  border: 5px solid #b53a72;
  border-radius: 20px;
  display:inline-block;
  background-color: #ffb0c0;
  box-shadow: 5px 10px 0px 0px #b53a72;

  transition: all 0.2s ease;
}

.temp-links:hover{
  background-color: #ef778f;
}

.temp-links:active{
  transform: translateY(11px) translateX(6px);
  box-shadow: 0px 0px 0px 0px #b53a72;
}

/* ACCESSABILITY ------------------------------------------------------------------------------------------*/
.sr-visible {
  position: absolute;
  width: 0px;
  height: 0px;
  margin: 0px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

/* WEBSITE CONTAINER -------------------------------------------------------------------------------------*/
.container {
  height: 100vh;
  overflow-y: hidden;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}


/* NAVIGATION BAR ----------------------------------------------------------------------------------------*/
nav {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0px;
  top: 0;
  left: 0;
  right: 0;
  height: 100px;
  padding-top:20px;
}

[initial-load="true"] #logo {
  display: none;
}

#nav-links {
  display: flex;
  gap:50px;
}

.nav-button {
  text-decoration: none;
  font-size: 120%;
  font-weight: bold;
  font-family: 'Courier New', Courier, monospace;
  background-color: transparent;
  border: none;
  color: #b53a72;
  min-width: fit-content;
  transition: color 0.5s ease;
}

.nav-button:hover, #logo:hover {
  color: #ffa1b0;
}

#logo {
  transition: color 0.5s ease;
  display: flex;
  background-color: transparent;
  border: none;
}

#logo > img {
  height: 80px;
  align-items: center;
}

@keyframes bigNav {
  0% {
    margin-left: 0px;
    opacity: 0;
  }
  100% {
    height: 80px;
    margin-left: vw;
    opacity: 1;
  }
}

@keyframes reverseNav {
  0% {
    margin-left: 26vw;
    opacity: 1;
    height: 80px;
  }

  100% {
    margin-left: 26px;
    opacity: 0;
    height: 0px;
    display: none;
  }
}

[homepage-nav="true"] img {
  animation: reverseNav 1s ease forwards;
}

[homepage-nav="false"] img {
  margin-left:26vw;
  animation: bigNav 1s ease;
}

/*SECTION SET UP -----------------------------------------------------------------------------------------*/

section {
  height: 100svh;
  scroll-snap-align: start;
}

.section-content {
  padding-top: 100px;
}

/*HOMEPAGE -----------------------------------------------------------------------------------------------*/
#section-homepage{
  /* background-color: #ffe4e4ff; */
  background-color: rgb(173, 190, 255);

  background-image:
        linear-gradient(90deg, #fff2f2 1px, transparent 1px), /* Vertical lines */
        linear-gradient(0deg, #fff2f2 1px, transparent 1px); /* Horizontal lines */
    background-size: 50px 50px; /* Size of the grid cells */
}

#homepage-content {
  display: grid;
  /* height: 100dvh; */
  /* width: 100vw; */
  grid-template-columns: repeat(11, minmax(100px, 300px));
  grid-template-rows: repeat(15, 6vh);
}

/* Homepage Image ++++++++++++++++++++++++++++++++*/
#homepage-cartoon {
  grid-row: 4 /11;
  grid-column: 2/ 6;
  align-self: center;
  justify-self: center;
  position: relative;
}

#cartoon-me {
  position: absolute;
  left:1vw;
  height:25vw;
  animation: cartoonFloat 5s infinite alternate ease-in-out;
  z-index: 1;
}

#blob {
  z-index: -1;
  height:25vw;
}

.click-icons {
  position: absolute;
  z-index: 2;
  height:4vw;
  box-shadow: 0px 0px 10px 1px #b53a72;

  transition: height 0.1s ease;
}


/* ***************** Stars ***************** */
.hp-misc-icons{
  position: absolute;
  z-index: 1;
  animation: iconFloat 4s infinite alternate ease-in-out;
}

.hp-icon-set-1 {
  height: 2vw;
}
.hp-icon-set-2 {
  height: 1vw;
}

#star1{
  top:8vw;
  left:0vw;
  animation-duration: 3s;
}

#star2{
  bottom:8vw;
  left:1vw;
  animation-duration: 4s;
}

#star3{
  top:3vw;
  right:2vw;
  animation-duration: 5s;
}

#star4{
  top:0vw;
  right:10vw;
  animation-duration: 3s;
}

#star5{
  bottom:6vw;
  right:0vw;
  animation-duration: 4s;
}

#star6{
  top:10vw;
  right:4vw;
  animation-duration: 5s;
}


@keyframes iconFloat {
  0% {
    transform: translateY(0px)
  }

  100% {
    transform: translateY(5px);
  }
}

/* Contact Icons +++++++++++++++++++++++++++++ */
.click-icons:hover {
  height:4.2vw;
}

#hp-linkedin {
  top:1vh;
  left:2vw;
  border-radius: 0.6vw;
  animation: linkedinFloat 4s infinite alternate ease-in-out;
}

#hp-github {
  top: 12vw;
  right:1vw;
  border-radius: 3vw;
  animation: githubFloat 2s infinite alternate ease-in-out;
}

#hp-email {
  bottom: 30px;
  left:0px;
  border-radius: 0.6vw;
  animation: emailFloat 6s infinite alternate ease-in-out;
}

@keyframes cartoonFloat {
  0% {
    transform: translateY(5px)
  }

  100% {
    transform: translateY(-5px);
  }
}


@keyframes linkedinFloat {
  0% {
    transform: translateY(0px) rotate(-20deg);
  }

  100% {
    transform: translateY(15px) rotate(-20deg);
  }
}

@keyframes githubFloat {
  0% {
    transform: translateY(0px) rotate(10deg);
  }

  100% {
    transform: translateY(15px) rotate(10deg);
  }
}

@keyframes emailFloat {
  0% {
    transform: translateY(0px) rotate(30deg);
  }

  100% {
    transform: translateY(15px) rotate(30deg);
  }
}


/* Homepage Text ++++++++++++++++++++++++++++++++*/
#homepage-intro-text {
  grid-row: 5 / 9 ;
  grid-column: 6 / 11;
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 3.5vw;
  /* text-wrap: nowrap; */
}

#homepage-top-line, #homepage-bottom-line {
  font-size: 1.6vw;
  font-weight: bold;
  color:#b53a72;
}

#homepage-mid-line {
  /* font-family: "Phudu", sans-serif;
  color:#ffa1b0ff; */
  height: 5.2vw;
  /* font-size: 6.2vw; */
  /* font-weight: bold; */
  animation: titleFloat 1s infinite alternate ease-out;
  /* animation: titleFloat 1s infinite alternate ease-in; */
  text-shadow: 0px 10px 0px #b53a72;
}

#homepage-mid-line > img {
  height: 5vw;
}


@keyframes titleFloat {
  0% {
    transform: translateY(0px)
  }
  100% {
    transform: translateY(-8px)
  }
}

#homepage-bottom-line {
  line-height: 3vw;
}

#homepage-btns {
  grid-row: 9 / 10;
  grid-column: 6 / 8;
  display: inline;
}

#homepage-btns > button {
  color:#b53a72;
  background-color: #ffa1b0;
  padding: 0.5vw 3vw;
  border: 4px solid #b53a72;
  border-radius: 0.8vw;
  box-shadow: 0px 7px 0px #b53a72;
  margin: 0px 5px;

  font-family: 'Courier New', Courier, monospace;
  text-wrap: nowrap;
  font-size: 1.2vw;
  font-weight: bold;

  transition: all 0.2s ease;
}

#homepage-btns > button:hover {
  background-color:#ef778f;
}

#homepage-btns > button:active {
  transform: translateY(8px);
  box-shadow: 0px 0px 0px #b53a72;
}

/*ABOUT ME -----------------------------------------------------------------------------------------------*/
#section-about-me {
  /* background: rgb(255, 149, 149); */
  background-color: rgb(173, 190, 255);
}

/*EXPERIENCE ---------------------------------------------------------------------------------------------*/
#section-experience{
  /* background: rgb(255, 237, 237); */
  background-color: rgb(173, 190, 255);
}

/*PROJECTS -----------------------------------------------------------------------------------------------*/
#section-projects {
  /* background: rgb(255, 149, 149); */
  background-color: rgb(173, 190, 255);
}

/*CONTACT -----------------------------------------------------------------------------------------------*/
#section-contact {
  /* background: rgb(255, 255, 255); */
  background-color: rgb(173, 190, 255);
}}