@import '/styles/base/variables.css';
@import '/styles/base/animations.css';
@import '/styles/base/base.css';

#navigation {
  position: sticky ;
  top: 0;
  height: 100px;
  width: 100vw;
  background-color: aqua;
  z-index: 100;
}