/* storage for colours and fonts */

:root {    
    /*Font*/
    --base-font: "Afacad", sans-serif;
    --accent-font: "Roboto Mono", monospace;
    
    --regular-weight: 400;
    --thick-weight: 700;

    --heading1-size: 40px;
    --medium-size: 30px;
    --heading2-size: 24px;
    --base-text-size: 22px;
    --medium-text-size: 20px;
    --small-text-size: 16px;
    --tiny-text-size: 14px;
    --phone-small-size: 12px;

    /*Colours*/
    --white:#ffffff;
    --pink:#DCA69E;
    --light-grey:#8F8E8D;
    --dark-grey:#312E2D;
    --black:#1F1C1B;
    --translucent-black: rgba(31, 28, 27, 0.7);
}