<nav id="main-nav" aria-label="Main Navigation">
    <img onclick="scrollToSection('home-container')" id="logo" src="assets/images/placeholder-logo.png" alt="Logo">
    <div id="nav-links-container">
        <a id="download-cv" 
            href="/assets/files/Nahdaa_Jawed_CV.pdf" 
            download="Nahdaa-Jawed-CV.pdf" 
            aria-label="Download CV">
            download cv
        </a>
        <p class="nav-links" id="home-link" onclick="scrollToSection('home-container')" aria-label="Home">&lt;home/&gt;</p>
        <p class="nav-links" id="experience-link" onclick="scrollToSection('experience-container')" aria-label="Experience">&lt;experience/&gt;</p>
        <p class="nav-links" id="projects-link" onclick="scrollToSection('projects-container')" aria-label="Projects">&lt;projects/&gt;</p>
        <p class="nav-links" id="contact-link" onclick="scrollToSection('contact-container')" aria-label="Contact">&lt;contact/&gt;</p>
    </div>
</nav>