#nav-container, #main-nav{
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
}

.nav-links, #download-cv{
    font-family: var(--accent-font);
    transition: 0.3s ease all;
}

#download-cv{
    font-weight: var(--thick-weight);
    color: var(--black);
    text-decoration: none;
    border-radius: 30px;
    padding: 0.3rem 1rem;
    background-color: var(--pink);
    border: solid 2px var(--pink);
    cursor: var(--cursor-click);
    text-align: center;
    font-size: var(--tiny-text-size);
}

#download-cv:hover{
    background-color: var(--black);
    color: var(--pink);
}

.nav-links:hover,
.nav-links.active{
    color: var(--white);
}

.nav-links, #logo{
    cursor: var(--cursor-click);
}

#main-nav{
    display: flex;
    flex-direction: row;
    background-color: var(--translucent-black);
    padding: 1rem 2rem;
    align-items: center;

    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px); /* Safari support */

    gap: 37vw;
    justify-content: center;
}

#logo {
    display: inline;
    height: 80px;
}

#nav-links-container{
    display: flex;
    flex-direction: row;
    gap: 2rem;
    align-items: center;

    color: var(--pink);
}

@media screen and (max-width: 1300px) {
    #main-nav{
        justify-content: space-between;   
        gap: 0;
    }
}

@media screen and (max-width: 800px) {
    #main-nav, #nav-container{
        display: none;
    }    
}