<div id="about-me-content" class="section-content">
  <div id="am-text-div" class="fade-element" animate="true">
    <h1>Hey!</h1>
    <p>I'm a London-based junior software engineer driven by <span>accessibility, creativity, 
      and interactivity</span>. I’m a programmer by day, but also a programmer by night! As well as coding in my spare time, 
      I’m also exploring art, creativity and gaming.</p>
    <!-- <p>I'm a London-based junior software engineer driven by <span>accessibility</span>, <span>creativity</span>, 
      and <span>interactivity</span>. I’m a programmer by day, but also a programmer by night! As well as coding in my spare time, 
      I’m also exploring art, creativity and gaming.</p> -->
  </div>
  <div id="am-tech-stack"  class="fade-element" animate="true">
    <div class="am-stack-split">
      <img id="am-html" class="am-tech-icons" src="images/html.png">
      <img id="am-css" class="am-tech-icons" src="images/css.png">
      <img id="am-js" class="am-tech-icons" src="images/js.png">
    </div>

    <div class="am-stack-split">
      <img id="am-c" class="am-tech-icons" src="images/c-sharp.png">
      <img id="am-python" class="am-tech-icons" src="images/python.png">
      <img id="am-angular" class="am-tech-icons" src="images/angular.png">
    </div>
  </div>
  <button id="beepboop" onclick="animatebeep()">animate</button>
</div>